* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  height: 100vh;
  width: 100vw;
}
.container {
  background: url(assets/Riesenrad.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  max-width: calc(100vw - 10px);
  margin: 0 auto;
  font-family: Verdana, sans-serif;
  color: #595959;
  letter-spacing: 0.06em;
  line-height: 1.6;
  position: fixed;
  font-size: 1.13vw;
}
.about {
  float: right;
  position: relative;
  right: 16vw;
  bottom: 7vw;
  width: 50vw;
  height: 28vw;
  border-radius: 15px;
  background-color: rgb(217, 217, 217, .9);
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 70px;
  overflow: auto;
   
}
.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 8vw;
  top: 3vh;
  width: 40vw;
  max-width: calc (100vw-5px);
  height: 25vw;
}
img {
  height: inherit;
  max-width: 100%;
  border-radius: 50%;
}
.name {
  padding-top: 3vh;
  padding-right: 3vw;
  padding-left: 3vw;
  padding-bottom: 3vh;
  text-align: center;
}
.description {
  padding-top: 2vh;
  text-align: justify;
  clear: both;
}
li {
  display: inline;
  margin: 0.3vw;
}
.contact {
  text-align: center;
 }
.icon {
  color: #8c8c8c;
}
ul {
  padding-top: 0.5vh;
}
hr {
  border: 1px solid #8c8c8c;
  margin: 0px 3vw 1vh 3vw;
}
img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
i:hover {
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
}
a {
  margin: 4px;
  color: #4d4d4d;
}
a:hover{
  color: #0059b3;
  font-weight: 600;
}
.description::first-letter{
  font-size: 4vh;
  font-weight: bold;
}
h1 {
  font-size: 1.5vw;
}