* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100vh;
  width: 100%;
  max-width: calc(100vw - 10px);
  margin: 0 auto;
  background-color: red;
}
.about {
  float: right;
  background-color: aquamarine;
  position: relative;
  right: 12vw;
  bottom: 5vh;
  width: 45vw;
  height: 50vh;
  border-radius: 15px;
}
.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10vw;
  top: 15vh;
  background-color: yellow;
  width: 40vw;
  max-width: calc (100vw-5vw);
  height: 50vh;
  }
img {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  float: right;
  }